language: node_js
node_js:
    - "4"

notifications:
    slack:
        rooms:
            - gameanalytics:hDYD7nkOTe3tkrvb68WEpyqw#ask-sdk
        on_success: change
        on_failure: change
    email:
        - sdk@gameanalytics.com

before_install: npm install -g gulp
install: npm install
before_script: gulp debug

branches:
    only:
        - develop
        - master
